

<link type="text/css" href="css/style2.css" rel="stylesheet">

<script type = "text/javascript" src = "js/myscript.js"></script>

<div class="wrapper fadeInDown">
        <div id="formContent">
                <h1>Admin</h1>
            <div>
                <input type="text" id="elective" name="elective" placeholder = "Elective Name" required>
            </div>

            <div>
                <input type="text" id="teacher" name="teacher" placeholder = "Teacher" required>
            </div>

            <div>
                <input type="number" id="capacity" name="capacity" placeholder = "Capacity" required>
            </div>

            <input type="submit" onclick="generateList()" class="fadeIn fourth" value="Submit Elective">

            <h1>Elective List</h1>

            <input type="submit" class="fadeIn fourth" value="Post Elective List">

        <!--</form>-->
        <a href="/">
            <input type="submit" class="fadeIn fourth" value="Home">
        </a>

    </div>
</div>

