<h1>Admin</h1>
<form action="/admin" method="POST">
    <div>
        <label for="elective">Elective Name</label>
        <input type="text" id="elective" name="elective" required>
    </div>
    <div>
        <label for="teacher">Elective Teacher</label>
        <input type="text" id="teacher" name="teacher" required>
    </div>
    <div>
        <label for="capacity">Elective Capacity</label>
        <input type="number" id="capacity" name="capacity" required>
    </div>

    <button type="submit">Submit Elective List</button>
</form>

<a href="/index">Home</a>